DB_NAME = 
DB_USER = 
DB_PASSWORD = 
DB_HOST = 
DB_PORT = 

# ini buat frontend simplenya gitu sih, soalnya taro vps kan, jadi biar bisa liat lewat hape juga gitu kalo lagi diluar
DASHBOARD_USERNAME = 
DASHBOARD_PASSWORD = 
